

.headerInventory h1{
    font-family: "Trirong", serif;
    text-align: center;
    color: #B0946F;
    font-size: 40px;

    animation: headerH2 1s ease-in-out ;
}
@keyframes headerH2 {
    0%{
        opacity: 0;
        transform: translateY(-50%);
    }
}

.tableInventory{
    background-color: #ffffff;
    width: 80%;
    height: 500px;
    margin: 0 10%;
    border: 0px solid #C9AF62;
    box-shadow: 0 0px 10px #acacac2d;

    animation: tableInventory 1s ease-in-out ;
}
@keyframes tableInventory {
    0%{
        opacity: 0;
        transform: translateY(130%);
    }
}

.Mode{
    display: flex;
    justify-content: center;
}
.Mode p{
    margin: 10px 10px;
    padding: 5px;
    cursor: pointer;
    font-family: "Trirong", serif;
    font-weight: 700;
    border-radius: 20px;
    color: #B0946F;
    border: 2px solid #B0946F;
}

.columntable {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    height: 50px;
    border-bottom: 0px solid #B0946F;
    box-shadow: 0 5px 5px #c9af622d;
    background-color: #B0946F;
}

.columntable p{
    width: 25%;
    text-align: start;
    padding-left: 15px;
    font-family: "Parkinsans", sans-serif;
    color: #fff;
    font-weight: 500;
}

.contanerRow {
    overflow-y: scroll;
    height: 450px;
}

.columntableSub {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    height: 50px;
    border-bottom: 0.1px solid #e5e5e5;
    border-top: 0.1px solid #e5e5e5;
    transition: 0.5s;
}

.columntableSub:hover {
    background-color: #FAFAFA;
}

.columntableSub p{
    width: 25%;
    text-align: start;
    padding-left: 15px;
    font-family: "Parkinsans", sans-serif;
    font-weight: 100;
}