@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@400;700&display=swap');

.route {
    width: 100%;
    height: 25px;
    background-color: #F2F2F2;
    display: flex;
    align-items: center;

    font-size: 20px;
    font-family: 'Dongle', sans-serif;
    color: #C9AF62;
}

.route a{
    text-decoration: none;
    color: #6D6D6D;
    cursor: pointer;
    padding-right: 5px;
    padding-left: 20px;
}

.L {
    display: flex;
    align-items: center;

}
.L span {
    width: 100%;
    height: 2px;
    background-color: #B0946F;
}


.StoreMainContent h1{
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 80px;
    font-family: "Trirong", serif;
    color: #B0946F;
    text-align: center;
}
.ContanerStore {
    width: 100%;
    height: 1000px;
    overflow-y: scroll;
    margin-bottom:20% ;
    display: flex;
    justify-content: space-between;
}

.Store {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
}
.cardStore {
    width: 250px;
    height: 320px;
    border: 1px solid #484848;
    box-shadow: 0 4px 10px #00000052;
    background-color: rgb(255, 255, 255);
    font-family: "Trirong", serif;
    cursor: pointer;

    animation-duration: 0.5s;
    animation-name: cardStore;
    animation-timing-function: ease-in-out;
}

@keyframes cardStore{
    0%{
        scale: 0.8;
    }50%{
        border-radius: 10%;
    }100%{
        scale: 1;
    }
}
.cardStore.active {
    border: 1px solid #B0946F;}
.cardStore.inactive {
    pointer-events: none;
    border: 1px solid #6265c9;}
.cardStore.WaitingPayment {
    pointer-events: none;
    border: 1px solid #186e13;}

.cardStore p{
    padding-left: 20px; 
    font-size: 20px;
    margin: 0;
    color: #6D6D6D;
}
.cardStore img{
    width: 250px;
    height: 145px;
    object-fit: cover;
    box-shadow: 0 5px 10px #4848481c;
}

.lineStore {
    width: 100%;
    height: 1px;
    margin: 5px 0;
    background-color: #DADADA;
}
.DescribtionStore {
    padding-left: 20px;
    padding-right: 20px;
    width: 90%;
    height: 30px;
    font-size: 14px;
}
.ViewStore {
    width: 250px;
    height: 20px;
    background-color: #484848;
    transform: translateY(40px);
    color: #ffffff;
    text-align: right;
    cursor: pointer;
}
.ViewStore.active {
    background-color: #B0946F;
}
.ViewStore.inactive {
    background-color: #6265c9;
}
.ViewStore.WaitingPayment {
    background-color: #186e13;
}



.rating {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 5px;
    transform: translateX(20px);
}

.star {
    font-size: 20px;
    color: #DADADA;
}

.star.filled {
    color: gold;
}

.AllbuttonFloor {
    width: 100%;
    display: flex;
    align-items: center;

    font-size: 20px;
    font-family: "Trirong", serif;
    line-height: 10px;
    font-weight: 100;

    margin-bottom: 50px;
    margin-top: 30px;

    animation-duration: 1s;
    animation-name: AllbuttonFloor;
    animation-timing-function: ease-in-out;
}
@keyframes AllbuttonFloor{
    0%{
        opacity: 0;
        transform: translateY(-50px);
    }50%{
        
    }100%{
        opacity: 1;
    }
}

.buttonFloor {
    width: 250px;
    height: 40px;
    margin-left: 10px;
    text-align: center;
    cursor: pointer;
    /* background-color: #C9AF62; */
    transition: 0.5s;
}

.buttonFloor.active {
    background-color: #B0946F;
    border-radius: 10px;
}
.buttonFloor:hover {
    background-color: #e8d1965a;
    border-radius: 10px;
}
.buttonFloor img{
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}
/* ===========================================================Booking for admin=========================================================== */
.BookingStoreAdminicon{
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    z-index: 1001;
}
.BookingStoreAdminicon:hover{
    animation: Bookingicon 0.7s ease-in-out;
}
@keyframes Bookingicon {
    0%{rotate: 360deg;}
    50%{rotate: -160deg;}
}
.BookingStoreAdmin{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    z-index: 1000;
    animation: BookingStoreAdmin 0.8s ease-in-out;
}
@keyframes BookingStoreAdmin {
    0%{transform: translateY(100%) scale(0.3);}
}
.FloorStoreAdmin{
    margin:0 auto 40px;
    width: 80%;
    text-align: center;
}
.FloorStoreAdmin span{
    margin: 0 5px;
    background-color: #eadcb2;
    padding: 4px 10px;
    border-radius: 5px;
    cursor: pointer;
}
.addBookingpopup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 600px;
    height: auto;
    background-color: #ffffff;
    border-radius: 10px;
    border: 4px solid #B0946F;
    box-shadow: 0 0 15px #00000016;
    z-index: 1020;
    animation: addBookingpopup 0.6s ease-in-out ;
}
@keyframes addBookingpopup {
    0%{transform: translate(-50%, 100%)scale(0.5);}
}
/*====================================================================================================================================*/


.PaymentContanerBox {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    min-height: 650px;
}

.PaymentContanerBoxSub{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #0000004e;
}
.PaymentContanerBoxSub div:nth-child(1){
    width: 60%;
}
.PaymentContanerBoxSub div:nth-child(2){
    width: 40%;
}
.listPay{
    width: 70%;
    padding-left: 50px;
    padding-right: 20px;
}
.listPay img{
    width: 120px;
    box-shadow: 0 4px 4px #acacac;
}
.PWA {
    display: flex;
    justify-content:flex-start;
    margin: 15px 0;
    animation: PWA 0.5s ease-in-out;
}
@keyframes PWA {
    0%{
        transform: translateX(-150%);
        scale: 0;
        opacity: 0;
    }
}
.total {
    display: flex;
    justify-content:flex-end;
    font-size: 30px;
}
.total p:nth-child(1){
    width: 70%;
}
.total p:nth-child(2){
    width: 30%;
    font-weight: 700;
    text-align: end;
}

.listPayR{
    width: 30%;
    background-color: #F6F6F6;
    box-shadow: 0 0 5px #acacac;
    max-height: 750px;
    min-height: auto;
    border-radius: 10px;
    margin-right: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.listPayRSub{
    margin: 20px;
}



.PaymentPaymentMethod {
    width: 100%;
    height: 40px;
    background-color: #e6e6e6;
    display: flex;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}
.PaymentPaymentMethod img{
    width: 30px;
    height: 30px;
    margin: 10px;
}

.QRCODE{
    position: absolute;
    width: 15%;
    text-align: center;
    margin-top: 14px;
    background-color: #fff;
    margin: 10px 5%;
}
.QRCODE.Method{
    visibility: visible;
}
.QRCODE.NoMethod{
    visibility: hidden;
}
.QRCODESub1{
    height: 40px;
    background-color: #084370;
    font-size: 30px;
    color: #fff;
    border-radius: 10px 10px 0 0;
}
.QRCODESub2{
    height: 20px;
    background-color: #084370;
    font-size: 30px;
    color: #fff;
    border-radius:0 0 10px 10px ;
}

.extractedText{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    background-color: #fff;
    padding: 0 50px;
    box-shadow: 0 0 5px #484848;
    z-index: 1020;
}
.backgroundextractedText{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #00000043;
    z-index: 1010;
}
.AttachSlip{
    margin: 10px 5% ;
    text-align: center;
    width: 90%;
    height: 20px;
    background-color: transparent;
    border: 2px solid #C9AF62;
    font-size: 20px;
    padding:10px 0 ;
    color: #C9AF62;
    border-radius: 10px;
    cursor: pointer;
}
.AttachSlip.Method{
    visibility: visible;
}
.AttachSlip.NoMethod{
    visibility: hidden;
}
.PayNow {
    margin: 0 5%;
    text-align: center;
    width: 90%;
    height: 30px;
    background-color: #C9AF62;
    font-size: 30px;
    padding:10px 0 ;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    
}

.PayNow.NoMethod {
    opacity: 0.5;
    pointer-events: none;
}

.resultpayment{
    display: flex;
    padding: 10px;
    border: 1px solid #22222234;
    border-radius: 10px;
    box-shadow: 0 0 15px #22222234;
}

.resultpayment img{
    margin: 5px;
    filter: drop-shadow(5px 5px 5px #22222234);
}
.ButtonSlip{
    border: 1px solid #22222234;
    border-radius: 10px;
    padding: 10px 20px;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.ButtonSlip:hover{
    border: 1px solid #C9AF62;
    box-shadow: 0 0 10px #C9AF62;
    background-color: #C9AF62;
    color: #fff;
}

.Mastercardinput{
    display: flex;
}
.Minput input{
    width: 97%;
    height: 30px;
    border-radius: 20px;
    border: 1px solid #22222234;
    padding: 0 5%;
    transition: 0.2s ease-in-out;
}
.Minput:hover input{
    box-shadow: 0 0 5px #22222234;
}
.SubmitCard{
    border: 2px solid #C9AF62;
    border-radius: 20px;
    margin: 2% 0 0;
    background-color: transparent;
    color: #C9AF62;
    padding: 5px 10px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.SubmitCard:hover{
    background-color: #C9AF62;
    color: #fff;
    box-shadow: 0 0 10px #C9AF62;
}

.boxAdditional{
    max-height: 400px;
    overflow-y: scroll;
    scrollbar-width:auto;
    border-bottom: 1px solid #0000004e;
    padding: 15px 0;
}
.addpackageButton{
    margin: 0 20px;
    border: 2px solid #B0946F;
    background-color: transparent;
    color: #B0946F;
    border-radius: 10px;
    padding: 6px 10px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.addpackageButton:hover{
    background-color: #B0946F;
    box-shadow: 0 0 5px #B0946F;
    color: #fff;
}
.Deletepackage{
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.Deletepackage:hover{
    background-color: brown;
    color: #fff;
    padding: 0 20px;
    border-radius: 10px;
}
/*===============================================================Bill==================================================*/
.RE{
    width: 100%;
    text-align: center;
    color: #C9AF62;
}
.Slip{
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 500px;
    height: 600px;
    box-shadow: 0 0 5px #00000052;
    border-radius: 5px;
    padding: 20px;

    animation: Slip 0.8s ease-in-out ;
}
@keyframes Slip {
    0%{
        top: 160%;
        opacity: 0;
    }
}
.Slip img{
    width: 150px;
    position: absolute;
    top: 10px;
    right: 0;
}
.Slip h1{
    font-size: 24px;
    margin-bottom: 35px;
}
.Adress{
    transform: translateY(-20px);
}
.Adress2{
    transform: translateY(-40px);
}
.P1{
    font-weight: 900;
    transform: translateY(20px);
}
.listpayment1{
    line-height: 0px;
    transform: translateY(-40px);
}
.Sublist {
    line-height: 0px;
    text-align: left;
    font-size: 14px;
}

.TotalAll{
    display: flex;
    justify-content: space-between;
    transform: translateY(-80px);
    font-size: 24px;
}
.bottoninfo{
    font-size: 10px;
    position: absolute;
    bottom: 20px;
}
.backtopayment{
    position: fixed;
    bottom: 10px;
    left: 10px;
    cursor: pointer;
}
.PaymentMethod {
    display: flex;
    justify-content: space-between;
    transform: translateY(-50px);
    font-size: 16px;

}

/* ==========================================================print======================================================= */
.Print{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #C9AF62;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 0 10px #C9AF62;
    color: #fff;
}

.succ {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    width: 300px;
    height: 300px;
    background-color: #fff;
    box-shadow: 0 0 5px #4848485b;
    border-radius: 10px;

    animation: Succ 0.8s ease-in-out;
}
@keyframes Succ {
    0%{
        opacity: 0;
        transform: translate(-50% , -150%) scale(0);
    }
}

.Completed{
    position: fixed;
    bottom: 20px;
    left: 50px;
    padding: 5px 10px;
    font-family: "Parkinsans", sans-serif;
    font-weight: 500;
    border: 3px solid #27b720;
    color: #27b720;
    border-radius: 20px;
}

.Evidence{
    position: fixed;
    top: 20%;
    left: 10px;
    width: 20%;
    height: auto;
    background-color: #fff;
    border: 1px solid #22222234;
    border-radius: 10px;
    box-shadow: 0 0 15px #22222234;
    animation: Evidence 0.8s ease-in-out;
}
@keyframes Evidence {
    0%{transform: translateX(-150%) scale(0.3);}
}
.Evidence p{
    text-align: center;
    font-family: sans-serif;
    font-weight: 700;
}
.Evidence img{
    width: 90%;
    padding: 0px 5% 10px;
}