body {
  margin: 0;
  font-family: "Parkinsans", sans-serif;
  background-color: #f7f7f7;
}

.form-container {
  width: 100%;
  max-width: 100%;
  background: rgb(254, 254, 254);
  padding: 80px;
}

.form-title {
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 80px;
  color: #C9AF62;
}

.ant-form-item-label > label {
  font-size: 16px;
  font-weight: 500;
  color: #333;
}

.ant-input,
.ant-select-selector {
  border-radius: 8px;
  height: 40px;
  font-size: 14px;
}

.ant-input-textarea {
  border-radius: 8px;
}

.ant-btn-primary {
  background-color: #e8d196;
  border-color: #e8d196;
  color: black;
  height: 45px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
}

.ant-btn-primary:hover {
  background-color: #d7c287;
  border-color: #d7c287;
  color: black;
}

.ant-btn-primary:focus {
  background-color: #e8d196;
  border-color: #e8d196;
  box-shadow: none;
}
