body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
}

.form-container {
  width: 100%;
  max-width: 600px;
  background: white;
  padding: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.form-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: #66592d;
}

.ant-form-item-label > label {
  font-size: 16px;
  font-weight: 500;
  color: #333;
}

.ant-input,
.ant-select-selector {
  border-radius: 8px;
  height: 40px;
  font-size: 14px;
}

.ant-input-textarea {
  border-radius: 8px;
}

.ant-btn-primary {
  background-color: #e8d196;
  border-color: #e8d196;
  color: black;
  height: 45px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
}

.ant-btn-primary:hover {
  background-color: #d7c287;
  border-color: #d7c287;
  color: black;
}

.ant-btn-primary:focus {
  background-color: #e8d196;
  border-color: #e8d196;
  box-shadow: none;
}
