@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@400;700&display=swap');

.positionNav{
    position: fixed;
    width: 100%;
    height: auto;
    z-index: 1000;
}

.NavComponent {
    width: 100%;
    height: 70px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.NavComponent span {
    flex: 1;
    color: #6D6D6D; 
}

.SubNab1 {
    text-align: left;
    padding-left: 20px;
    display: flex;
    align-items: center;
    gap: 10px; 

    font-size: 20px;
    font-family: 'Dongle', sans-serif;
}
.Loclation{
    animation-duration: 3s;
    animation-name: SubNab1;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
@keyframes SubNab1{
    0%{
        transform: translateY(0);
    }25%{
        transform: translateY(-2px);
    }75%{
        transform: translateY(2px);
    }100%{
        transform: translateY(0);
    }
}
.Clock {
    animation-duration: 3s;
    animation-name: Clock;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
@keyframes Clock{
    0%{
        rotate: -360deg;
    }100%{
        rotate: 0;
    }
}

.SubNab1 p {
    margin: 0;
    color: #6D6D6D;
    line-height: 0.7;
}

.vertical-divider {
    width: 1px;
    height: 45px; /* ปรับความสูงตามต้องการ */
    background-color: #6D6D6D; /* สีของเส้นแบ่ง */
}


.SubNab2 {
    text-align: center;
}

.SubNab3 {
    text-align: right;
    padding-right: 20px;
    display: flex;
    align-items: center;
    gap: 10px; 

    font-size: 24px;
    font-family: 'Dongle', sans-serif;
}

.SubNab3 img{
    box-shadow: 0 4px 5px #6D6D6D;
}

.NavComponentMenu {
    width: 100%;
    height: 40px;

    backdrop-filter: blur(60px);
    box-shadow: 0 6px 4px #00000005;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.NavComponentMenu a {
    text-decoration: none;
    color: #000;
}

.NavComponentMenu span{
    margin: 0 20px 0;
    font-size: 24px;
    font-family: 'Dongle', sans-serif;
}

.MenuHover {
    transition: 0.4s ease-in-out;
}
.MenuHover.active {
    color: #C9AF62;
}

.MenuHover:hover {
    color: #E8D196;
    cursor: pointer;
}






.dropboxMenu {
    position: absolute;
    right: 40px;
    top: 70px;
    /* transform: translateY(90px); */
    width: 185px;
    height: auto;
    background-color: #1B1B1B;
    border-radius: 10px 0 10px 10px;
    text-align: left;
    box-shadow: 0 4px 4px #6b6b6b;
    z-index: 1002;

    animation-duration: 0.3s;
    animation-name: dropboxMenu;
    animation-timing-function: ease-in-out;
}


@keyframes dropboxMenu{
    0%{
        transform: translateX(100px);
        scale: 0;
    }50%{
        transform: translateX(0px);
        scale: 1;
    }100%{

    }
}
.dropboxMenu a {
    text-decoration: none;
}

.dropboxMenu p{
    margin-left: 20px;
    color: #ffffff;
    line-height: 0.2;
    font-size: 24px;
    cursor: pointer;
}
.dropboxMenuP:hover {
    color: #E8D196;
}
.lineMenu {
    margin-left: 10px;
    width: 160px;
    background-color: #ffffff;
    height: 1px;
}


/*============================================================= intro ============================================================*/
.introMainWeb {
    position: fixed;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    /* background-color: #1d1d1d; */
    background-color: #ffffff;
    z-index: 2000;
}

.introMainWeb img{
    width: 1000px;
    opacity: 0;
    visibility: hidden;

    animation-duration: 2.5s;
    animation-name: introMainWeb1;
    animation-timing-function: ease-in-out;

}
@keyframes introMainWeb1{
    0%{
        visibility: visible;
        opacity: 0;
    }50%{
        opacity: 1;
    }100%{
        opacity: 0;
    }
}
.introMainWeb h1{
    font-size: 90px;
    font-family: 'Dongle', sans-serif;
    transform: translateY(-350%);
    color: #C9AF62;
    text-shadow: 0 0 10px #C9AF62;
    visibility: hidden;
    opacity: 0;

    animation-delay: 3s;
    animation-duration: 3s;
    animation-name: introMainWeb2;
    animation-timing-function: ease-in-out;
}
@keyframes introMainWeb2{
    0%{
        visibility: visible;
        opacity: 0;
    }50%{
        opacity: 1;
    }100%{
        opacity: 0;
    }
}
.introMainWeb h2{
    font-size: 90px;
    font-family: 'Dongle', sans-serif;
    transform: translateY(-510%);
    color: #C9AF62;
    text-shadow: 0 0 10px #C9AF62;
    visibility: hidden;
    opacity: 0;

    animation-delay: 6.5s;
    animation-duration: 3s;
    animation-name: introMainWeb3;
    animation-timing-function: ease-in-out;
}
@keyframes introMainWeb3{
    0%{
        visibility: visible;
        opacity: 0;
    }50%{
        opacity: 1;
    }100%{
        opacity: 0;
    }
}

.introMainWeb p{
    position: fixed;
    top: 90%;  
    left: 50%;  
    transform: translate(-50%, -50%);
    color: #000;
    font-size: 30px;
    font-family: 'Dongle', sans-serif;
    visibility: hidden;

    animation-duration: 2s;
    animation-name: introMainWeb4;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
@keyframes introMainWeb4{
    0%{
        visibility: visible;
        opacity: 0;
    }50%{
        opacity: 1;
    }100%{
        opacity: 0;
    }
}

/*========================================================= profile ============================================*/
.back {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #00000016;
    z-index: 1001;
    backdrop-filter: blur(2px);
    animation: back 1s ease-in-out ;
}
@keyframes back{0%{opacity: 0;}}
.ProfileContaner{
    position: fixed;
    text-align: center;
    top: 100px;
    right: 20px;
    width: 500px;
    height: 700px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 0 15px #00000063;
    z-index: 1010;
    animation: ProfileContaner 0.5s ease-in-out  ;
}
@keyframes ProfileContaner{
    0%{
        top: 100px;
        right: -500px;
    }80%{
        top: 100px;
        right: 50px;
    }100%{
        top: 100px;
        right: 20px;
    }
}
.ProfileContaner div:nth-child(1) img{
    width: 100%;
    height: 250px;
    border-radius: 15px 15px 0 0;
    box-shadow: 0 5px 10px #00000067;
}
.ProfileContaner div:nth-child(2) img{
    width: 250px;
    height: 250px;
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: #eeeeee;
    border: 5px solid #ffffff;
    box-shadow: 0 0 10px #00000067;
    animation: ProfileContaner2 5s ease-in-out infinite ;
}
@keyframes ProfileContaner2{
    0%{
        transform: translateY(-50%);
    }50%{
        transform: translateY(-48%);
    }100%{
        transform: translateY(-50%);
    }
}
.ProfileContaner div:nth-child(3){
    text-align: center;
    background-color: #ffe8af;
    width: auto;
    height: auto;
    padding: 5px 10px;
    border-radius: 20px;
    position: absolute;
    top: 330px;
    right: 120px;
    box-shadow: 0 5px 10px #00000067;
    text-shadow: 0 5px 10px #00000067;
    animation: ProfileContaner3 3s ease-in-out infinite ;
}
@keyframes ProfileContaner3{
    0%{
        
    }25%{
        rotate: 10deg;
    }75%{
        rotate: -10deg;
    }100%{
        
    }
}
.ProfileContaner div:nth-child(4){
    font-size: 80px;
    font-weight: bold;
    font-family: 'Dongle', sans-serif;
    transform: translateY(-130%);
    text-shadow: 0 5px 5px #0000004b;
    color: #543F00;
}
.ProfileContaner div:nth-child(5){
    font-size: 30px;
    font-family: 'Dongle', sans-serif;
    transform: translateY(-400%);
    color: #543F00;
}
.ProfileContaner div:nth-child(6){
    font-size: 30px;
    font-family: 'Dongle', sans-serif;
    transform: translateY(-400%);
    color: #543F00;
}
.ProfileContaner div:nth-child(7){
    font-size: 30px;
    font-family: 'Dongle', sans-serif;
    transform: translateY(-400%);
    color: #543F00;
}
.ProfileContaner div:nth-child(8){
    font-size: 30px;
    font-family: 'Dongle', sans-serif;
    position: absolute;
    bottom: 10px;
    right: 20px;
    color: #543f006b;
    cursor: pointer;
    animation: ProfileContaner8 3s ease-in-out infinite ;
}
@keyframes ProfileContaner8{
    0%{
        
    }40%{
        right: 10px;
    }50%{
        right: 15px;
    }60%{
        right: 10px;
    }100%{
        
    }
}
.ProfileContaner div:nth-child(9){
    font-size: 30px;
    font-family: 'Dongle', sans-serif;
    position: absolute;
    top: 20px;
    right: 20px;
    text-shadow: 0 0 10px #0000008b;
    cursor: pointer;
    animation: ProfileContaner9 3s ease-in-out infinite ;
}
@keyframes ProfileContaner9{
    0%{
        
    }25%{
        rotate: 10deg;
    }75%{
        rotate: -10deg;
    }100%{
        
    }
}